@font-face {
  font-family: mona;
  src: url(./mona.woff2);
  font-family: reguler;
  src: url(./reguler.woff2);
  font-family: semibold;
  src: url(./semibold.woff2);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

#nav {
  
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: #fff;
  color: #000;
  transition: all ease 0.5s;
}
#nav img {
  padding-top: 2px;
  padding-left: 20px;
  height: 65px;
}

#left {
  padding-top: 10px;
  padding-left: 50px;
  display: flex;
  gap: 20px;
}

#left > h4 {
  font-family: reguler;
  font-weight: 500;
  cursor: pointer;
}

#right {
  padding-top: 10px;
  padding-left: 55%;
  display: flex;
  gap: 10px;
}

#right button {
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  font-family: semibold;
}

#btn1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#btn2 {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

#nav h4:hover {
  color: rgb(120, 120, 120);
}

#nav #btn1:hover {
  color: rgb(120, 120, 120);
}

#nav #btn2:hover {
  background-color: rgb(62, 62, 62);
}

#child1 {
  display: flex;

  justify-content: space-around;
}

video {
  height: 460px;
  float: right;
  display: block;
  margin-left: auto;
  margin-right: 80px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

#childr {
  padding-left: 60px;
  padding-top: 50px;
}
#h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 55px;
  font-weight: 600; /* kam weight */
}
#h3 {
  padding-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100; /* aur halka */
}

#childrbtn {
  display: flex;
  gap: 40px;
  padding-top: 30px;
}

#shots {
  padding: 12px 23px 12px 23px;
  border-radius: 50px;
  font-family: semibold;
  font-size: medium;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #000000d1;
}

#services {
  padding: 12px 23px 12px 23px;
  border-radius: 50px;
  font-family: semibold;
  font-size: medium;
  border: none;
  cursor: pointer;
  background-color: #e2e2e21c;
}

#designers {
  padding: 12px 23px 12px 23px;
  border-radius: 50px;
  font-family: semibold;
  font-size: medium;
  border: none;
  cursor: pointer;
  background-color: #e2e2e21c;
}

#childrbtn #services:hover {
  color: rgb(120, 120, 120);
}

#childrbtn #designers:hover {
  color: rgb(120, 120, 120);
}

#childrbtn #shots:hover {
  background-color: rgb(62, 62, 62);
}

#src {
  position: relative;
  display: inline-block; /* flex ki zarurat nahi */
  margin-top: 20px;
  transition: all ease 0.5s;
}

#src1 {
  width: 300px;
  height: 45px;
  border-radius: 50px;
  border: none;
  background-color: #8985851b;
  padding: 20px 290px 30px 290px;
  font-size: 16px;
}

#src2 {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 160, 174);
  cursor: pointer;
  font-size: 18px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#src1:hover {
  background-color: transparent;
  border: 2px solid rgba(253, 192, 255, 0.707);
}

#src2:hover {
  background-color: rgba(255, 160, 174, 0.759);
}

#keys{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: -65px;
  margin-left: 120px;
}

#keys>button{
  padding: 4px 13px 4px 13px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.361);
  border-radius: 50px;
  background-color: transparent;
  transition: all ease 0.5;
  cursor: pointer;
}

#keys > button:hover {
  background-color: #9494943c;
}

#keys>p{
  color: #000;
  font-family: semibold;
  font-weight: 200;
}